<div class="wrapper" [ngClass]="{'collapsed': isCollapsed}" [ngStyle]="{'height': '100vh', 'width': isCollapsed ? '80px' : '240px', 'overflow': 'auto', 'transition': 'width 0.3s ease'}">
  <div class="menu-header">
    <button nz-button nzSize="large" style="color: white;" nzType="text" class="minimize-button" (click)="toggleCollapsed()">
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
  </div>
  
  <ul nz-menu nzMode="inline" [nzTheme]="theme ? 'dark' : 'light'" [nzInlineCollapsed]="isCollapsed" class="menu-content">
    <li nz-menu-item [routerLink]="['/App/report']" nzSelected>Report Page</li>
    <li nz-menu-item [routerLink]="['/App/all-machines']">All Machines</li>
    <li nz-submenu nzTitle="Operation" nzIcon="setting">
      <ul>
        <li nz-menu-item [routerLink]="['/App/beam-stock-management']">Beam Stock Management</li>
        <li nz-menu-item [routerLink]="['/App/defective-meter-entry']">Defective Meter Entry</li>
        <li nz-menu-item [routerLink]="['/App/yarn-stock-management']">Yarn Stock Management</li>
        <li nz-menu-item [routerLink]="['/App/cloth-quality-management']">Cloth Quality Management</li>
        <li nz-menu-item [routerLink]="['/App/operations-ms']">Operations-MS</li>
      </ul>
    </li>
    <li nz-menu-item [routerLink]="['/App/shift-management']">Shift Management</li>
  </ul>

  <div class="footer-item">
    <div class="profile-circle" [ngClass]="{'expanded': !isCollapsed}">
      <span class="profile-initials">JD</span>
    </div>
    <nz-switch [(ngModel)]="theme"></nz-switch>
    <button nz-button nzType="default" class="logout-button" (click)="logout()">
      <span *ngIf="!isCollapsed">Logout</span>
      <span *ngIf="isCollapsed" nz-icon nzType="logout"></span>
    </button>
  </div>
</div>
